@charset "UTF-8";
body {
  background-color: #fff;
}
.menu_title .title:first-child {
  border-radius: 5px 5px 0 0;
}
.menu_title .title:last-child {
  border-radius: 0 0 5px 5px;
}
.menu_title .title {
  width: 100%;
  border: 1px solid #ccc;
  display: block;
  background-color: #f1f1f1;
  color: #000;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  padding-left: 15px;
  border-bottom: 1px solid #ccc;
}
.menu_title li {
  float: left;
  width: 33.33%;
  border: 1px solid #ccc;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #f9f9f9;
}
