@charset "UTF-8";
.header {
  background-color: #f4483e;
}
.header .logo {
  height: 50px;
  width: 50px;
}
.header p {
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #fff;
}
.coupon_title {
  padding: 30px 20px 0 10px;
  text-align: center;
}
.coupon_title li {
  float: left;
  height: 75px;
  width: 23%;
  border: 1px solid #000;
  padding-top: 5px;
  margin-right: 10px;
  margin-top: 10px;
}
.coupon_title li a {
  color: #000;
}
.coupon_title li img {
  width: 50px;
  height: 50px;
  margin: 0 auto ;
  background-color: #fff;
}
